* {
  margin: 0px;
  padding: 0px;
}

.nombre {
  color: white;
  font-size: 40px;
}

/* pagina inicio */
body {
  font-size: 18px;
  line-height: 23px;
  font-family: Arial, sans-serif;
}

footer{
  color: $fuenteColor;
}
