@media screen and (max-width: 1100px) {
  .logo img {
    width: 20%;
  }
  .ig {
    margin: auto;
    position: fixed;
  }
}
@media screen and (max-width: 1043px) {
  .logo img {
    width: 20%;
  }
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 20%;
  }
}

@media screen and (max-width: 580px) {
  .main1 {
    width: 80%;
  }
  .logo img {
    width: 30%;
  }
}
