@media screen and (max-width: 1900px) {
  .i2 {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .ii {
    display: none;
  }
  .i2 {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 20%;
  }
  .ImgIn {
    width: 100%;
  }
  .ig {
    margin: auto;
    position: fixed;
  }
}
@media screen and (max-width: 1043px) {
  .ii {
    display: none;
  }
  .i2 {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 20%;
  }
  .ImgIn {
    width: 100%;
  }
}
@media screen and (max-width: 840px) {
 
}
@media screen and (max-width: 600px) {
  .i2 {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 20%;
  }
  .ImgIn {
    width: 100%;
  }
  /*   .ig {
    position: fixed;
  } */
}
@media screen and (max-width: 580px) {
  .main1 {
    width: 80%;
  }
  .i2 {
    display: flex;
    justify-content: center;
  }
  .logo img {
    width: 20%;
  }
  .ImgIn {
    width: 100%;
  }
  /*  .ig {
    display: block;
    z-index: 1;
  } */
}

/* @media screen and (max-width: 585px) { 
.i2 {
    display: flex;
    justify-content: center;
  }

.logo {
    width: 150%;
  }
  .ImgIn {
    width: 100%;
  }
  .ig {
    position: fixed;
  }
} */

/* @media screen and (max-width: 430px) {
  .ig {
    display: block;
    position: fixed;

    z-index: 1;
  }
} */
